<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
<div layout:fragment="content">
  <div class="jumbotron bg-light p-5 rounded-3 my-4">
    <p class="lead">간단한 URL shortener 서비스. 짧게 만들고, 링크를 쉽게 공유하세요.</p>
  </div>
</div>
</body>
</html>